body  {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}


.nav ul {
    list-style: none;
    background-color: #595959;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0.9;
}
.nav li {
    font-family: Montserrat;
    font-size: 0.8em;
    line-height: 20px;
    height: 20px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    background-color: #66FFB2;
}

.nav a.active {
    background-color: #00FF7F;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}
.container {
    opacity:0;
    position:absolute;
    width:1000px;
    left:50%;
    top:62%;
    height:520px;
    margin-top:-322px;
    margin-left:-500px;
    background-color:aliceblue;
    padding:20px;
    -webkit-box-shadow: 0px 0px 42px -6px aliceblue;
    -moz-box-shadow: 0px 0px 42px -6px aliceblue;
    box-shadow: 0px 0px 42px -6px aliceblue);
    z-index:1;
}

#arena {
    float:right;
}

#grid {
    border-right:1px solid #E0E0E0;
    border-bottom:1px solid #E0E0E0;
}

#form {
    float:left;
}
.form form {

}
.form form label {
    display:block;
    width:374px;
    padding:8px 0 6px 0;
}

form input {
    font-family: 'Proxima Nova Light', Arial, sans-serif;
    padding:7px 10px;
    border: 1px black;
    font-size:16pt;
    margin:5px 0 10px 0;
    width:360px;
    border-radius: 6px;
}

form select {
    -webkit-appearance: menulist-button;
    font-size: 14px;width:382px; height:40px;
    margin:5px 0 10px 0;
    font-family: 'Proxima Nova Light', Arial, sans-serif;
}

form input[type="submit"] {
    width:380px;
    position: absolute;
    padding: 10px 40px;
    margin: 242px 50px 0 0;
    border-radius: 6px;
    font-family: 'Proxima Nova Light', Arial, sans-serif;
    font-size: 25px;
    color: aliceblue;
    background-color: palegreen;
}

#movements {
    float:left;
    width:384px;
    margin:20px 0 0 0;
}

#notification {
    position:absolute;
    text-align:center;
    top:20px;
    left:50%;
    margin-left:-500px;
    width:1000px;
    font-size:16pt;
}

#arrows {
    margin:0 0 0 4px;
}
.arrowUp, .arrowRight, .arrowDown, .arrowLeft {
    float:left;
    width:7px;
    height:7px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-style: solid;
    margin:12px 8px 0 0;

}

.arrowUp {border-color: #FFBF00;transform: rotate(-135deg);}
.arrowRight {border-color: #E83F6F;transform: rotate(-45deg);}
.arrowDown {border-color: #2274A5;transform: rotate(45deg);}
.arrowLeft {border-color: #32936F;transform: rotate(135deg);}

