/*.background {
    position: fixed;
    margin:0;
    height: 100%;
    width:100%;
    background:
    linear-gradient(
            #00ff00,
            transparent
    ),
    linear-gradient(
            90deg,
            #66ff66,
            transparent
    ),
    linear-gradient(
            -90deg,
            #ffffb3,
            transparent
    );

    background-blend-mode: screen;
    z-index: 0;
}*/